---
import { getCollection } from "astro:content";
import buildInfo from "../build-info.json";

const buildMsg = buildInfo.message;

const lessonTime = [
  undefined,
  "08:00 ~ 08:45",
  "08:50 ~ 09:35",
  "10:05 ~ 10:50",
  "10:55 ~ 11:40",
  "14:00 ~ 14:45",
  "14:50 ~ 15:35",
  "16:05 ~ 16:50",
  "16:55 ~ 17:40",
  "18:40 ~ 19:25",
  "19:30 ~ 20:15",
  "20:25 ~ 21:10",
  "21:15 ~ 22:00",
];

const allData = await getCollection("free-classroom-data");

const dataList = allData
  .map((entry) => {
    const match = entry.id.match(/^gxg-(\d{4}-\d{1,2}-\d{1,2})-(\d+)-\2$/);
    if (!match) return null;

    const [_, date, lessonStr] = match;
    const lesson = parseInt(lessonStr);
    return {
      date,
      lesson,
      classrooms: entry.data
        .filter((value) => value.startsWith("工学馆"))
        .map((value) => value.replace("工学馆", "G"))
        .sort(),
    };
  })
  .filter(Boolean)
  .sort((a, b) => a!.lesson - b!.lesson);

const date = dataList[0].date;
---

<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>工学馆空教室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .md-theme {
        --md-surface: #f9f9ff;
        --md-surface-container: #ededf4;
        --md-on-surface: #191c20;
        --md-secondary-container: #dae2f9;
        --md-on-secondary-container: #3e4759;
        --md-outline: #74777f;
      }

      @media (prefers-color-scheme: dark) {
        .md-theme {
          --md-surface: #111318;
          --md-surface-container: #1d2024;
          --md-on-surface: #e2e2e9;
          --md-secondary-container: #3e4759;
          --md-on-secondary-container: #dae2f9;
          --md-outline: #8e9099;
        }
      }

      body {
        font-family: sans-serif;
        padding: 1rem;
        background-color: var(--md-surface);
        color: var(--md-on-surface);
      }

      .heading {
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 1.5rem;
      }

      .card {
        margin-bottom: 1rem;
        border: 1px solid var(--md-outline);
        border-radius: 0.5rem;
        background: var(--md-surface-container);
      }

      summary {
        outline: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.75rem;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
        gap: 0.5rem;
        padding: 0 0.75rem 0.75rem 0.75rem;
      }

      .room {
        background: var(--md-secondary-container);
        color: var(--md-on-secondary-container);
        padding: 0.2rem;
        text-align: center;
        border-radius: 0.2rem;
        font-size: 0.9rem;
      }

      .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
      }
    </style>
  </head>
  <body class="md-theme">
    <div class="heading">
      <h1>{date} 工学馆空教室</h1>
      <span>{buildMsg}</span>
    </div>

    {
      dataList.map(({ lesson, classrooms }) => (
        <details class="card">
          <summary>
            第 {lesson} 节（{lessonTime[lesson]}）
          </summary>

          <div class="grid">
            {classrooms.length === 0 ? (
              <p>无数据</p>
            ) : (
              classrooms.map((name) => <div class="room">{name}</div>)
            )}
          </div>
        </details>
      ))
    }

    <div class="footer">
      <span>
        网站源码：
        <a href="https://github.com/Ferry-200/neuq-free-classroom-site">
          Ferry-200/neuq-free-classroom-site
        </a>
      </span>
      <span>
        数据来源：
        <a href="https://github.com/Ferry-200/neuq-free-classroom">
          Ferry-200/neuq-free-classroom
        </a>
      </span>
    </div>
  </body>
</html>
